.sortbar {
  background: #f2f2f2;
  border: 1px solid gainsboro;
  margin-bottom: .5em !important; }
  .sortbar ._sortbar-Label {
    font-size: .9em;
    font-size: .9rem;
    padding: .1em;
    padding-top: .5em;
    padding-bottom: .5em;
    display: inline-block; }
  .sortbar ._sortbar-Current {
    text-transform: uppercase; }
  .sortbar ._sortbar-Down::after {
    content: "\2193";
    padding-left: 0.8em;
    text-decoration: none;
    text-transform: none;
    display: inline-block; }
  .sortbar ._sortbar-Up::after {
    content: "\2191";
    padding-left: 0.8em;
    text-decoration: none;
    text-transform: none;
    display: inline-block; }
  .sortbar ._sortbar-criteria {
    font-size: .7em;
    font-size: .7rem;
    padding: .1em;
    padding-top: .5em;
    text-decoration: underline;
    color: #121212;
    display: inline-block;
    float: right; }
